*{
    font-family: 'Courier New', Courier, monospace;
}
/*  nav bar  css start */
.navbar-light .navbar-brand {
    color: #3758f9;
    font-weight: 700;
    font-size: 2rem;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.d-flex i{
    font-size: 2rem;
    font-size: 1.5rem;
    color: #3758f9;
}
/*  nav bar  css  end  */
/*  hero css start */
.hero{
    background: url(./img/bg-1.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
.hero-content{
    padding: 100px 0;
}
.hero-content h6{
    font-size: 2rem;
    font-weight: 500;
}
.hero-content h1{
    font-size: 5rem;
    font-weight: 900;
}
/*  hero css  end  */

/*  global css start */
.global-img{
    background-image:linear-gradient(to right, rgba(21, 21, 22, 0.7), rgba(21, 21, 22, 0.7)) ,url('./img/bg-2.jpg');
    background-size: cover;
    width: 100%;
    height: 30vh;
    
}
.global-img-2{
    background-image:linear-gradient(to right, rgba(21, 21, 22, 0.7), rgba(21, 21, 22, 0.7)) ,url('./img/bg-3.jpg') ;
    background-size: cover;
    width: 100%;
    height: 30vh;
}
.global-img-3{
    background-image:linear-gradient(to right, rgba(21, 21, 22, 0.7), rgba(21, 21, 22, 0.7)) ,url('./img/bg-4.jpg');
    background-size: cover;
    width: 100%;
    height: 30vh;
}
/*  global css  end  */